.jumbotron {
    background-color: lightskyblue;
    text-align: center;
    font-size: 25px;
}

.card-header {
    text-align: center;
    background-color: lightslategray;
}




body {
    background-image:url("photos/marina-vitale-206978-unsplash.jpg");

}